# Copyrighted content - exclude all txt, pdf, and markdown files
*.txt
*.pdf
*.md
config.yml
.env

# Keep directory structure by adding .gitkeep files
!data/
!data/markdown/
!data/output/
!data/pdf/
!data/txt_input/

# Virtual environment
venv/

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so

# IDE files
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

/dist
# Ignore everything in data/ except specific example files
/data/*
!/data/example.pdf
!/data/example.md
!/data/example.txt
!/data/json/fvtt-JournalEntry-heading.json
!/data/json/example.json